<div class="row">
  <div class="col-md-12">
    <%= link_to "Back", darjeelink.short_links_path, class: "btn btn-default" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Edit Short Link</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for @short_link, url: darjeelink.short_link_path do |f| %>
      <%= render partial: 'short_link_form', locals: { f: f, short_link: @short_link } %>
      <div>
        <%= f.submit "Update Shortlink", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
