<div class="row">
  <div class="col-md-12">
    <%= link_to "Back", darjeelink.short_links_path, class: "btn btn-default" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>New Short Link</h1>
  </div>
</div>
<%= render partial: 'short_link_form' %>
