<div class="row">
  <div class="col-md-12">
    <%= link_to "Back", darjeelink.short_links_path, class: "btn btn-default" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>New Short Link</h1>
  </div>
</div>
<%= form_for @short_link, url: darjeelink.short_links_path, local: true do |f| %>
  <%= render partial: 'short_link_form', locals: { f: f, short_link: @short_link } %>
  <div>
    <%= f.submit "Create Shortlink", class: "btn btn-primary" %>
  </div>
<% end %>
